name: Update Image Tag

on:
  repository_dispatch:
    types: [update-image]

jobs:
  update-tag:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Update image tag
        run: |
          sed -i "s|tag: .*|tag: \"${{ github.event.client_payload.tag }}\"|g" values.yaml

      - name: Commit and push
        run: |
          git config user.name "GitHub Actions"
          git config user.email "actions@github.com"
          git add values.yaml
          git commit -m "Update image to ${{ github.event.client_payload.tag }}"
          git push